[defaults]
roles_path = roles/
inventory = inventory.ini
host_key_checking = False
remote_tmp = /tmp/.ansible-$USER
retry_files_enabled = False
timeout = 20

[ssh_connection]
ssh_args = -F /var/lib/jenkins/.ssh/config -o LogLevel=DEBUG3
